<!DOCTYPE html>
<html>

<head>
    <title>Available Shops</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">

</head>

<body>

    <h2>Available Shops</h2>

    <div class="shop-grid">
        {% for shop in shops %}
        <div class="card shop-card">

            {% if shop.photo %}
            <img src="{{ shop.photo }}" alt="Shop Image">
            {% else %}
            <img src="https://via.placeholder.com/400x180?text=No+Image" alt="No Image">
            {% endif %}

            <div class="content">
                <h4>Shop {{ shop.shop_no }}</h4>
                <p><b>Location:</b> {{ shop.location }}</p>
                <p><b>Area:</b> {{ shop.area }} Sq.Ft</p>
            </div>

            <footer>
                <a class="button" href="/shops/details?name={{ shop.name }}">
                    View Details
                </a>
            </footer>

        </div>
        {% endfor %}
    </div>

</body>

</html>